body{
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;

}
h1{
    margin-top: 280px;
    margin-bottom: 20px;
    color: blue;
    font-size: 50px;
}
p{
    color: white;
    font-size: 30px;
}
.top-banner{ 

    text-align: center;
    height: 500px;margin: 0px;padding: 0px;overflow: hidden;
    background-image: url(donation-concept-donation-box-with-donation-clothes-charity-helping-poor-needy-people.jpg);
    background-size: cover;
    background-color: aliceblue;


}
.Section{
    display: flex;
}
.link-button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}