body{
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;

}
h1{
    color: blue;
    font-size: 50px;
}
p{
    color: white;
    font-size: 30px;
}
.top-banner{ 

    text-align: center;
    height: 500px;margin: 0px;padding: 0px;overflow: hidden;
    background-image: url(donner-house-page-2-resed-d9-website-banner-omiw_0alt_0.jpg);
    background-size: cover;
    background-color: aliceblue;


}
.Section{
    display: flex;
}